<footer id="footer">
  <div class="container-fluid footer-inner">
    <div class="row">
      <div class="col-sm-6 footer-about">
        <p class="footer-title">{{ site.title }}</p>
        <p>Yaara Yeshurun &middot; Tel-Aviv University</p>
      </div>
      <div class="col-sm-6 footer-contact">
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p>Sharett building, Room 204<br>Tel Aviv University</p>
      </div>
    </div>
    <p class="footer-copy">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
